* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 36px;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  height: 1500px;
}
/* -- Navbar -- */
nav {
  top: 0;
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 10%;
  position: sticky;
  overflow: hidden;
  z-index: 9999;
}
ul > li {
  list-style: none;
  text-align: center;
  padding: 0 10px;
}
ul.menu {
  display: flex;
  justify-content: space-between;
}
nav > ul > li > a {
  text-decoration: none;
  font-size: 1em;
  color: white;

  padding: 100% 20%;
  width: 100%;

  transition: 300ms ease-in;
}
nav > ul > li > a:active {
  background-color: red;
  color: white;
}
nav > ul > li > a:hover {
  color: red;
  transition: 300ms ease-in;
}

div.logo h1 {
  font-size: 2.8em;
  color: red;
  letter-spacing: 3px;
}
div.logo span {
  color: white;
}
/* ---Navbar End--- */

/* -- Main Content -- */
main {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.hero {
  background-image: linear-gradient();
  background-image: url(/res/202182192715.png);
  background-size: cover;
  background-position: top -30px left -75px;
  background-repeat: repeat;
  background-size: 100%;
  height: 400px;
  display: flex;
}
div.hero > section {
  color: white;
  background-image: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.9),
    black
  );
  display: flex;
  padding-left: 50%;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  padding-right: 30px;
}
div.hero > section > h2 {
  padding: 10px 2%;
}

div.second-section {
  text-align: center;
  padding: 80px 15% 20px 15%;
}
div.second-section > h2,
div.second-section > p {
  margin: 0 10%;
}
ol.grid-container {
  list-style: none;
  margin-top: 20px;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px 50px;
}
ol.grid-container > li > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
ol.grid-container > li > a > h5 {
  margin-top: 10px;
}

ol.grid-container > li > a > img {
  width: 100%;
  display: block;
  border: solid rgb(82, 58, 58) 4px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  transition: 150ms ease-in;
}

ol.grid-container > li > a > img:hover {
  scale: 1.1;
  transition: 140ms ease-in;
}

div.third-section {
  background-color: black;
  color: white;
  padding: 80px 15% 20px 15%;
  text-align: center;
}

div.last-section {
  padding-top: 20px;
  text-align: center;
}
